<div class="card">
  <div class="card-content">
    <span class="card-title">Definir menu</span>

    <div class="row">
      {{selector/de-comensal label="Comensal" comensalElegido=menuEditado.comensal col="s12" }}
    </div>

    <div class="row">
      {{tenpines/input-number label="Empanadas" value=menuEditado.cantidadDeEmpanadas  min=0 max=8 col="s6"}}
      {{tenpines/input-number label="Porciones de pizza" value=menuEditado.cantidadDePorciones min=0 max=8 col="s6"}}
    </div>

  </div>

  <div class="card-action">
    <div class="row">
      {{tenpines/material-button label='Aceptar' action='definirMenu' enabled=menuEsAceptable submit=true
                                 col="offset-s10 s2" }}
    </div>
  </div>
</div>