<div class="card">
  <div class="card-content brown lighten-5">
    <span class="card-title ">Totales del pedido</span>

    <div class="row">
      {{tenpines/labeled-label label="Pizzas" value=cantidadDePizzas col="s4" }}
      {{tenpines/labeled-label label="Total porciones" value=cantidadDePorciones col="s4" }}
    </div>

    <div class="row">
      {{tenpines/labeled-label label="Docenas de empanadas" value=cantidadDeDocenasDeEmpanadas col="s4" }}
      {{tenpines/labeled-label label="Total empanadas" value=cantidadDeEmpanadas col="s4" }}
    </div>

  </div>
</div>